.article{

    background-color: $lightGray;
    &__content{

    }

    &__list{
            display:grid;
            gap:1.875rem; //30px
            grid-template-columns: 1fr;

            @include breakpoint-up(medium){
                grid-template-columns: repeat(2,1fr);
            }

            @include breakpoint-up(large){
                grid-template-columns: repeat(4,1fr);
            }


            /* Another method to handle different screen resolution without media query
               grid-template-columns: repeat(auto-fit,minmax(14.375rem,1fr));
            */
               

    }

    &__item{
       background-color: $white;
       border-radius: 0.3125rem ;//5px
       overflow:hidden;
       box-shadow: 0px 3px 12px rgba(0,0,0,0.15);  // horizontal-position vertical-position spread shadow-color
       transition:all 150ms ease-in-out;

       &:hover{
         transform: scale(1.05);
       }
    }

    &__image{
        height: 12.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__text{
       color:$grayishBlue;

       padding: 1.875rem 1.875rem 2.5rem 1.875rem; // 30px 40px

       @include breakpoint-up(medium){
         padding: 1.875rem 1.5625rem; // 30px 25px
       }
    }

    &__author{
       font-size:0.625rem;    //10px
       margin-bottom: 0.75rem;   //12px
    }

    &__title{
        font-size:1.0625rem;    //17px
        line-height: 1.2;
        color: $darkBlue;
        margin-bottom: 0.5rem;    //8px
    }

    &__description{
        font-size:0.8125rem;    //13px
        line-height: 1.2;
    }
}