$darkBlue : hsl(233, 26%, 24%);
$limeGreen : hsl(136, 65%, 51%);
$brightCyan :  hsl(192, 70%, 51%);
$grayishBlue :  hsl(233, 8%, 62%);
$lightGrayishBlue :  hsl(220, 16%, 96%);
$lightGray : hsl(0, 0%, 98%);
$white : hsl(0, 0%, 100%);

// Font size
$fontMed : 1.125rem;
$fontSmall : 0.875rem;
$fontLarge:   1.25rem; //20px
$fontXlarge : 3.25rem; //52px